altair==3.1.0
appnope==0.1.0
argcomplete==1.9.5
attrs==19.1.0
backcall==0.1.0
bleach==3.1.0
certifi
chardet==3.0.4
decorator==4.4.0
defusedxml==0.5.0
entrypoints==0.3
future==0.17.1
idna==2.8
ipykernel==5.1.0
ipython==7.4.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
jedi==0.13.3
Jinja2==2.10.1
json5==0.8.5
jsonschema==3.0.1
jupyter
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
jupyterlab==1.0.2
jupyterlab-server==1.0.0
lxml==4.3.3
MarkupSafe==1.1.1
mistune==0.8.4
nbconvert==5.4.1
nbformat==4.4.0
notebook==5.7.8
numpy==1.16.2
opencv-python==4.1.0.25
pandas==0.24.2
pandocfilters==1.4.2
panoptes-client==1.1.1
parso==0.4.0
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.2.0
prometheus-client==0.6.0
prompt-toolkit==2.0.9
ptyprocess==0.6.0
pycurl==7.43.0.2
Pygments==2.3.1
pyrsistent==0.14.11
pytesseract==0.2.6
python-dateutil==2.8.0
python-magic==0.4.15
pytz==2019.1
pyzmq==18.0.1
qtconsole==4.4.3
redo==2.0.3
requests==2.21.0
Send2Trash==1.5.0
six==1.12.0
terminado==0.8.2
testpath==0.4.2
toolz==0.10.0
tornado==6.0.3
tqdm==4.32.2
traitlets==4.3.2
urllib3==1.24.3
vega==2.4.0
wcwidth==0.1.7
webdavclient==1.0.8
webencodings==0.5.1
widgetsnbextension==3.4.2
xlrd==1.2.0
